body {
    background-color: rgb(255, 229, 157);
    font-family: 'Roboto Mono', monospace;
}

.container {
    text-align: end;
    justify-items: center;
    background-color: rgb(160, 160, 160);
    padding: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10%;
    box-shadow: 10px 10px black;
}

.display {
    background-color: rgb(185, 185, 185);
    min-height: 70px;
    margin: 0 auto 10px;
    border: 2px solid black;
    border-radius: 11px;
    padding: 20px;
    width: 350px;
    font-size: xxx-large;
    box-shadow: 5px 5px black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
}

.grid .item {
    display: block;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(174, 217, 255);
    border: 1px solid black;
    margin: 7%;
    font-size: xx-large;
    border-radius: 20%;
    box-shadow: 5px 5px black;
}

.grid .item:hover {
    cursor: pointer;
    opacity: 0.7;
}

.grid .item:active {
    box-shadow: 2px 2px black;
}