body {
    background-color: rgb(250, 255, 206);
    font-family: 'Roboto Mono', monospace;
}

.container {
    text-align: end;
    justify-items: center;
}

.display {
    min-height: 70px;
    margin: 0 auto 10px;
    border: 2px solid black;
    border-radius: 11px;
    padding: 20px;
    width: 350px;
    font-size: xxx-large;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
}

.grid .item {
    display: block;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(174, 217, 255);
    border: 1px solid black;
    margin: 7%;
    font-size: xx-large;
    border-radius: 20%;
}

.grid .item:hover {
    cursor: pointer;
}